.banner{
    background-image: url("../../../images/banner.png");
    background-size: cover;
    height:600px;
    width: 100%;
}
.banner-bg{
    height: 550px;
    width: 100%;
}
.font{
    font-size: 5rem;
}